################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageConsumer/MessageConsumer/obj/Debug
/MessageConsumer/MessageConsumer/bin/Debug
*.suo
